@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --cor-texto-gradient1: #5b2268;
    --cor-texto-gradient2: #1a076d;
    --cor-link-nav: #ffffff8c;
    --cor2: #007fe0;
    --cor-cinza: #333;
    --cor-traco-titulo: #0e0631;
    --cor-tela-inicio: #000512;
    --cor-footer: #000512;
    --fonte-principal: 'Poipins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--fonte-principal);
}

/* efeitos de animação no scroll */
.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.hidden-foto {
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden-hb {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.cards-hb :nth-child(2) {
    transition-delay: 400ms;
}

.cards-hb :nth-child(3) {
    transition-delay: 700ms;
}

.cards-hb :nth-child(4) {
    transition-delay: 1000ms;
}

.shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

.tela-cheia {
    width: 100%;
    min-height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulos-tela {
    text-align: center;
    margin-bottom: 30px;
}

.titulos-tela h4::before,
.titulos-tela h4::after {
    display: inline-block;
    content: '';
    width: 40px;
    height: 4px;
    margin: 5px;
    border-radius: 8px;
    background-color: var(--cor-traco-titulo);
}

/* barra de navegação */
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 15px 0;
    background-color: var(--cor-tela-inicio);
}

nav ul,
footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li,
footer li {
    list-style-type: none;
}

nav a,
footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-link-nav);
    transition: all .3s ease;
}

nav a:hover {
    display: block;
    color: white;
    transform: scale(1.2);
}

.padding-t-nav {
    padding-top: 50px;
}

/* tela de inicio */
#inicio {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor-tela-inicio);
}

#inicio .texto-inicio {
    padding-left: 10px;
    font-size: 1.8rem;
    color: white;
}

#inicio .texto-inicio h1 {
    font-family: monospace;
    width: 10ch;
    border-right: 4px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    animation: digitando 2s 1s steps(15),
        cursorPiscando .5s step-end infinite alternate;
}

#inicio .texto-inicio h4 {
    font-size: 1.45rem;
    background-image: linear-gradient(to right, var(--cor-texto-gradient1), var(--cor-texto-gradient2));
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes cursorPiscando {
    50% {
        border-color: transparent;
    }
}

@keyframes digitando {
    from {
        width: 0;
    }
}

#inicio .img-inicio {
    text-align: center;
}

#inicio img {
    width: 80%;
}

#inicio .icone-seta-baixo {
    position: absolute;
    width: 40px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: rolarParaBaixo 2s infinite alternate;
}

@keyframes rolarParaBaixo {
    from {
        transform: translateY(-15%);
    }

    50% {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15%);
    }
}

/* tela sobre */
#sobre {
    min-height: 340px;
}

#sobre img {
    border-radius: 50%;
}

.conteudo-tela {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 668px;
    padding: 20px;
}

.conteudo-tela .conteudo-texto {
    max-width: 310px;
    text-align: justify;
    line-height: 1.3rem;
    font-size: 1.12rem;
}

/* section de habilidades */
#habilidades .conteudo-texto {
    margin: 25px;
}

.cards-hb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.hb {
    width: 86px;
    height: 119px;
    padding: 10px;
    padding-bottom: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0px 1px 9px 2px #00000029;
}

.hb .nome-hb {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}

.hb-info p {
    text-align: center;
    transition: all .5s;
}

/* section de projetos */
.caixa-projeto {
    width: 250px;
    height: 300px;
    border: 1.5px solid gray;
    border-radius: 9px;
    padding: 8px;
    margin: 9px;
}

.foto-projeto {
    width: 100%;
    height: 150px;
    margin: 3px 0 6px;
    background: var(--cor-traco-titulo);
}

.links-projeto {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links-projeto a {
    display: block;
    margin-top: 7px;
    padding: 6px;
    text-decoration: none;
    color: var(--cor-cinza);
    border: 1.5px solid var(--cor-cinza);
    border-radius: 8px;
    letter-spacing: 1.2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.links-projeto a span {
    position: relative;    
    z-index: 2;
}

.links-projeto a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--cor-texto-gradient1);
    border-radius: 7px;
    transition: all .35s;
}

.links-projeto a:hover {
    color: #fff;
}

.links-projeto a:hover:after {
    width: 100%;
}

footer {
    width: 100%;
    padding: 15px;
    color: white;
    text-align: center;
    background-color: var(--cor-footer);
}

@media screen and (min-width: 788px) {
    #habilidades .conteudo-tela {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .cards-hb {
        width: 330px;
    }

    .hb-info {
        width: 200px;
    }
}