@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --cor1: #5b2268; /* strong */
    --cor2: #007fe0; /* header */
    --cor3: #000a27; /* footeer */
    --fonte-principal: 'Poipins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--fonte-principal);
}

.tela-cheia {
    width: 100%;
    min-height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}