<header>
  <img
    src="assets/img/ramon-erik.webp"
    alt="foto de Ramon Erik"
    loading="eager"
    width="130px"
    height="130px"
  />
  <h1>Ramon Erik</h1> 
</header> 
<aside>
  <div class="container">
    <p>Front-end | Angular</p>
    <p>Ceará, Brasil</p>
    <p>
      Meu nome é Ramon e tenho estudado programação, focando em front-end e
      desenvolvimento web, área em que quero atuar. Desenvolvo projetos usando
      typescript e outras ferramentas, transformando tarefas cotidianas em
      soluções web práticas.
    </p>
    <nav>
      <ul>
        <li>
          <a href="" target="_blank" class="btn btn-primary">Download CV</a>
        </li>
        <li>
          <a href="" target="_blank" class="btn btn-secondary">Github</a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Icone de email"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:ramonerik29a@gmail.com" target="_blank">
            <strong>Me envie um email</strong>
            <p>ramonerik29a&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
