:root {
  interpolate-size: allow-keywords; // animated details
  --primary: #0095ff;
  --primary-010: #0068b3;

  --secondary: #78BB5E;
  --secondary-010: #3F6331;

  --background: #0f181f;
  --grey: grey;

  --white: #fff;

  --black: #10101a;
  --black-010: #2a2a30;
}
